@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl font-semibold text-gray-800 md:text-4xl;
    }
    h2 {
      @apply text-3xl font-semibold text-gray-800 md:text-3xl;
    }
    h3 {
      @apply text-3xl font-semibold text-gray-800 md:text-2xl;
    }
    p {
      @apply mt-2 text-sm text-gray-500 md:text-base
    }
}

input:checked {
    background-color: #22c55e; /* bg-green-500 */
}

input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}